aiforbreakfast.com {
    @websockets {
		header Connection *Upgrade*
		header Upgrade    websocket
	}

	reverse_proxy @websockets backend:5230
    reverse_proxy /api/* backend:5230

    reverse_proxy /* frontend:5231
}

www.aiforbreakfast.com {
    redir https://aiforbreakfast.com{uri} permanent
}