aiforbreakfast.com {
    reverse_proxy /api/ws backend:5230 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }

    reverse_proxy /api/* backend:5230 {
        transport http {
            versions h1c h2c
        }
    }
    reverse_proxy /* frontend:5231
}

www.aiforbreakfast.com {
    redir https://aiforbreakfast.com{uri} permanent
}